asgiref==3.8.1
attrs==23.2.0
backports.zoneinfo==0.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==4.2.13
django-cors-headers==4.3.1
djangorestframework==3.15.1
idna==3.7
numpy==1.24.4
python-decouple==3.8
pytz==2024.1
requests==2.32.3
service-identity==24.1.0
shapely==2.0.4
sqlparse==0.5.0
stripe==9.8.0
twisted==24.3.0
typing-extensions==4.12.0
urllib3==2.2.1
